<body>
    <div class = "top">
        <div> < </div>
        <div>
            <p>ORDER #{{order._id}}</p>
        </div>
    </div>
    <div class ="content">
        <div class = "left">
            <p>Order time: {{order.when}}</p>
            <p>Van Name: {{order.van_ID}}</p>
            {{!-- need van location in modal --}}
            <p>Van Location: </p>
            <p>{{order.van_latitude}}</p>
            <p>{{order.van_longtitude}}</p>
        </div>

        {{!-- center this  --}}
        <div>
            {{!-- the status img --}}
            <img src="" alt="">
            <p>{{order.status}}</p>
        </div>
        <div class = "left">
            <p>Food Name: </p>
            <ul>
                {{#each order.orderItem}}
                {{this.item_name}}
            </ul>
        </div>
        <div class="middle">
            <p>Price</p>
            <ul>
                {{#each order.orderItem}}
                {{!-- need add price --}}
                {{this.price}}
            </ul>
        </div>
        <div class="right">
            <p>Quantity</p>
            <ul>
                {{#each order.orderItem}}
                {{this.quantity}}
            </ul>
        </div>
    </div>
    <div class="left">
        <p>Payment Summary: {{order.paymentTotal}}</p>
        <p>Late Fulfillment discount: </p>
        <p>Total:</p>
    </div>
    <div class="left">
        <p>cancel</p>
    </div>
    <div class="right">
        <p>change</p>
    </div>
</body>