<body>
    <div class = "top">
        <div><</div>
        {{!-- <div> </div> --}}
        <div>
            <p>ORDER #{{order._id}}</p>
        </div>
    </div>
    <div class='cards'>
                <div>
                     <p>Order time: {{order.when}}</p>
                     <p>Van Name: {{order.van_ID}}</p>
                {{!-- need van location in modal --}}
                     <p>Van Location: {{order.van_latitude}}, {{order.van_longtitude}}</p>
                </div>
    </div>
        {{!-- center this  --}}
    <div class='card'>
            
            <div >
                <p>Food Name: </p>
                <ul>
                    {{#each order.orderItems}}
                    <p>
                     {{this.item_name}} | {{this.quantity}} | {{this.price}}
                     </p>
                    {{/each}}
               </ul>
            </div>
        {{!-- center this --}}
            <div>
                <div>
            {{!-- the status img --}}
             {{!、-- <img src="" alt=""></img> --}}
                <p>{{order.status}}</p>
                </div>
                <p>Price</p>
                <ul>
                    {{#each order.orderItems}}
                    {{!-- need add price --}}
                    {{this.price}}
                    {{/each}}
                </ul>
            </div>
            <div>
                <p>Quantity</p>
                <ul>
                    {{#each order.orderItem}}
                    {{this.quantity}}
                    {{/each}}
                </ul>
            </div>
        
    </div>

      

    <div class="summary">
        <div>
                <p>Payment Summary:</p>
                <p>Subtotal:</p>
                <p>Late Fulfillment discount: </p>
                <p>Total:{{order.paymentTotal}}</p>
        </div>
    </div>

   
        




    <div class='bottip'>
        <div class="left">
            <p>CANCEL</p>
        </div>
        <div class="right">
            <p>CHANGE</p>
        </div>
        
    </div>
</body>