
{{!-- <link rel="stylesheet" href="/css/reset.css">
<link rel="stylesheet" href="/css/menu.css">
<link rel="stylesheet" href="/css/index.css"> --}}

<body>
    <div class="top">
        <div> < </div>
        <div>
            <p>MENU</p>
            <p>Tasty Trailer</p>
        </div>
        <div>5min</div>
    </div>
    <div class="content">
        <div class="cards">
            <p>Foods</p>
            <ul>
                {{#each menu_items}}
                <li class="li-wrap">
                    <p>
                        {{this.item_name}}
                    </p>
                    <p>${{this.item_price}}</p>
                    <img src={{this.item_photo}} class="browsePage">
                    <input type="number" id={{this.item_ID}} value="" placeholder = "0"/>
                        {{!-- <input type="submit" name = "Add to cart"onclick="saveToCart(this.item_ID);" /> --}}
                    <button type='button' onclick="saveToCart({{this.item_ID}})">Add to cart</button>
                        {{!-- <a id="quantity"  onclick="saveToCart({{this.item_ID}})">Add to cart</a> --}}
                </li>
                {{/each}}
            </ul>
        </div>
        
    </div>
       
    <div class="carts2 view-cart">
        <a href="/customer/home" class="click">View Shopping Cart items: <span>0</span>
        </a>    
    </div>
    
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="../js/fontresize.js"></script>
<script >
    function saveToCart(id) {
        if (id.value != 0) {
            sessionStorage.setItem(id.id, id.value);
        }
    }
</script>
</body>