
{{!-- <link rel="stylesheet" href="/css/reset.css">
<link rel="stylesheet" href="/css/menu.css">
<link rel="stylesheet" href="/css/index.css"> --}}

<body>
    <div class="top">
        <div> < </div>
        <div>
            <p>MENU</p>
            <p>Tasty Trailer</p>
        </div>
        <div>5min</div>
    </div>
    <div class="content">
        <div class="cards">
            <p>Foods</p>
            <ul>
                {{#each menu_items}}
                <li class="li-wrap">
                    <p>
                        {{this.item_name}}
                    </p>
                    <p>${{this.item_price}}</p>
                    <img src={{this.item_photo}} class="browsePage">
                    <input type="number" id={{this.item_ID}} value="" placeholder = "0"/>
                    <button type='button' onclick="saveToCart({{this.item_ID}})">Add to cart</button>
                </li>
                {{/each}}
            </ul>
        </div>
        
    </div>
       
    <form class="cart-form" action="/customer/{{van_id}}/menu/order/payment" method="post">
    {{!-- <input id='latitude' name="latitude" value="" hidden>
    <input id='longitude' name="longitude" value="" hidden> --}}
    {{!-- <button type="button" onclick="geoFindMe()">Share my location</button> --}}
        
        <input type = "hidden" id="cart" name="cart" value=""/>
        <button type="submit" onclick="saveOrder()">Make Order</button>
    </form>

{{!-- <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="../js/fontresize.js"></script> --}}
<script >
    function saveToCart(id) {
        var quantity = parseInt(id.value)
        if (localStorage.getItem("cart") === null) {
            var cart = [];
            for (var i=0;i<quantity;i++) { 
                cart.push(id.id);
            }
            localStorage.setItem("cart", JSON.stringify(cart));
        } else {
            var currentCart = JSON.parse(localStorage.getItem("cart"));
            for (var i=0;i<quantity;i++) {
                currentCart.push(id.id);
            }
            localStorage.setItem("cart", JSON.stringify(currentCart));
        }
    }

    function saveOrder() {
        document.getElementById("cart").value = JSON.parse(JSON.stringify(localStorage.getItem("cart")));
        localStorage.clear();
    }


</script>
</body>