<div class = "top">
    <div text-align='left'><a href="/customer/my-orders">< </a></div>
    <div>
        <p>ORDER #{{order.order_ID}}</p>
    </div>
</div>

<div class='cards'>
    <div>
        <p>Order time: {{order.when}}</p>
        <p>Van Name: {{order.van_ID}}</p>
        <p>Van Location: {{van.latitude}}, {{van.longitude}}</p>
    </div>
</div>

<table>
    <tr><th>Food Name</th> <th>Price</th> <th>Quantity</th></tr>
    {{#each order.orderItems}}
        <tr> <td>{{this.item_name}}</td> <td>{{this.price}}</td> <td>{{this.quantity}}</td> </tr>
    {{/each}}
</table>

<div>
    <p>Payment Summary</p>
    <p>Late Fulfillment Discount: {{discount}}</p>
    <p>Total: ${{order.paymentTotal}}</p>
</div>

{{#if complete}}
    <div>
        <a href="/customer/my-orders"> BACK</a>
    </div>
{{else}}
    <div>
        {{!-- <a href="/customer/my-orders"> BACK</a> --}}
        <form method="post" action="/customer/my-orders/cancel" id="cancelform">
            <input type="hidden" name="cancelID" id="cancelID" value={{order.order_ID}} />
            {{#if hasTimeLeft}}
            <button type='submit'>CANCEL</button>
            <div id = "timeCancel">15:00</div>
            {{else}}
            <p>CANCEL</p>
            {{/if}}
        </form>
        <form method="post" action="/customer/my-orders/change" id="changeform">
            <input type="hidden" name="changeID" id="changeID" value={{order.order_ID}} />
            {{#if hasTimeLeft}}
            <button type='submit'>CHANGE</button>
            <div id = "timeChange">15:00</div>
            {{else}}
            <p>CHANGE</p>
            {{/if}}
        </form>
        <input type="hidden" name="timeRemaining" id="timeRemaining" value={{timeRemaining}} />
    </div>
{{/if}}

<script>
    function startTimer(duration, display) {
        var timer = duration, minutes, seconds;
        setInterval(function () {
            minutes = parseInt(timer / 60, 10);
            seconds = parseInt(timer % 60, 10);

            minutes = minutes < 10 ? "0" + minutes : minutes;
            seconds = seconds < 10 ? "0" + seconds : seconds;

            display.textContent = minutes + ":" + seconds;

            if (--timer < 0) {
                timer = duration;
            }
        }, 1000);
    }

    window.onload = function () {
        var time = document.getElementById("timeRemaining").value;
        var displayCancel = document.querySelector('#timeCancel');
        var displayChange = document.querySelector('#timeChange');
        startTimer(time, displayCancel);
        startTimer(time, displayChange);
    };

</script>

