<link rel="stylesheet" href="/css/profile.css">
<link rel="stylesheet" href="/css/orderDetail.css">

<div class='content-card'>
    <div class='order-card'>
        <h2 style="text-align: center;">ORDER #{{order.order_ID}}</h2>
        <div class='details-card'>
            <div><p style='font-weight:bold;'>Order time:</p><p>{{order.when}}</p></div>
            <div><p style='font-weight:bold;'>Van Name:</p><p>{{van.van_first_name}} {{van.van_last_name}}</p></div>
            <div><p style='font-weight:bold;'>Van Location:</p><p>{{van.latitude}}, {{van.longitude}}</p></div>
        </div>
        <spacer>&nbsp;</spacer>
        <div style='text-align:center;height:fit-content;margin:10px'><p style='font-weight:bold;margin:10px'>STATUS:</p><br><p style='font-size:xx-large; margin:10px'>{{order.status}}</p></div>
        <spacer>&nbsp;</spacer>
        <table>
            <tr><th>Food Name</th> <th>Unit Price</th> <th>Quantity</th></tr>
            {{#each order.orderItems}}
                <tr> <td>{{this.item_name}}</td> <td>{{this.price}}</td> <td>{{this.quantity}}</td> </tr>
            {{/each}}
        </table>
        <spacer>&nbsp;</spacer>
        <div class='details-card' style='font-weight:unset; padding:20px'>
            <div><p style='display:inline' class='title'>Payment Summary</p></div>
            <div><p style='font-weight:unset; margin:5px'>Late Fulfillment Discount: {{discount}}</p><br></div>
            <div><p style='font-weight:unset; margin:5px'>Total: ${{order.paymentTotal}}</p></div>
        </div>


        <div class='bottom-buttons' style='display:block; text-align:center'>
            
            <div style='display:inline-block'>
                <form method="post" action="/customer/my-orders/cancel" id="cancelform">
                    <input type="hidden" name="cancelID" id="cancelID" value={{order.order_ID}} />
                    {{#if hasTimeLeft}}
                    
                    <button class='normal-button' style='background-color:white; color:#000; font-size:24px' type='submit'>CANCEL<div id = "timeCancel">15:00</div></button>
                    {{else}}
                <div class='bottom-button inactive'>
                        <p>CANCEL</p>
                        <p>00:00</p>
                    </div>
                    {{/if}}
                </form>
            </div>

            <div style='display:inline-block'>
                <form method="post" action="/customer/my-orders/change" id="changeform">
                    <input type="hidden" name="changeID" id="changeID" value={{order.order_ID}} />
                    {{#if hasTimeLeft}}
                    <button class='normal-button' style='font-size:24px' type='submit'>CHANGE <div id = "timeChange">15:00</div></button>
                        
                    </div>
                    {{else}}
                    <div class='bottom-button inactive'>
                        <p>CHANGE</p>
                        <p>00:00</p>
                    </div>
                    {{/if}}
                </form>
            </div>
        </div>
        <input type="hidden" name="timeRemaining" id="timeRemaining" value={{timeRemaining}}>
    </div>
</div>

<script>
    function startTimer(duration, display) {
        var timer = duration, minutes, seconds;
        setInterval(function () {
            minutes = parseInt(timer / 60, 10);
            seconds = parseInt(timer % 60, 10);

            minutes = minutes < 10 ? "0" + minutes : minutes;
            seconds = seconds < 10 ? "0" + seconds : seconds;

            display.textContent = minutes + ":" + seconds;

            if (--timer < 0) {
                timer = duration;
            }
        }, 1000);
    }

    window.onload = function () {
        var time = document.getElementById("timeRemaining").value;
        var displayCancel = document.querySelector('#timeCancel');
        var displayChange = document.querySelector('#timeChange');
        startTimer(time, displayCancel);
        startTimer(time, displayChange);
    };

</script>

