<div class = "top">
    <div text-align='left'><a href="/customer/my-orders">< </a></div>
    <div>
        <p>ORDER #{{order.order_ID}}</p>
    </div>
</div>

<div class='cards'>
    <div>
        <p>Order time: {{order.when}}</p>
        <p>Van Name: {{order.van_ID}}</p>
        <p>Van Location: {{van.latitude}}, {{van.longitude}}</p>
    </div>
</div>

<table>
    <tr><th>Food Name</th> <th>Price</th> <th>Quantity</th></tr>
    {{#each order.orderItems}}
        <tr> <td>{{this.item_name}}</td> <td>{{this.price}}</td> <td>{{this.quantity}}</td> </tr>
    {{/each}}
</table>

<div>
    <p>Payment Summary</p>
    <p>Late Fulfillment Discount: {{discount}}</p>
    <p>Total: ${{order.paymentTotal}}</p>
</div>

{{#if complete}}
    <div>
        <a href="/customer/my-orders"> BACK</a>
    </div>
{{else}}
    <div>
        {{!-- <a href="/customer/my-orders"> BACK</a> --}}
        <form method="post" action="/customer/my-orders/cancel" id="cancelform">
            <input type="hidden" name="cancelID" id="cancelID" value={{order.order_ID}} />
            <button type='submit'>CANCEL</button>
        </form>
        <form method="post" action="/customer/my-orders/change" id="changeform">
            <input type="hidden" name="changeID" id="changeID" value={{order.order_ID}} />
            <button type='submit'>CHANGE</button>
        </form>
    </div>
{{/if}}

<script>


</script>

