<link rel="stylesheet" href="/css/orderDetail.css">
<div class='content-card'>
    <h2 style="text-align: center;">ORDER #{{order.order_ID}}</h2>
    <div class='details-card'>
        <div><p>Order time:</p><p>{{order.when}}</p></div>
        <div><p>Van Name:</p><p>{{order.van_ID}}</p></div>
        <div><p>Van Location:</p><p>{{van.latitude}}, {{van.longitude}}</p></div>
    </div>
    <div class='details-card' style='background-color: none; border-radius: none; font-size: none'>
        <table>
            <tr><th>Food Name</th> <th>Price</th> <th>Quantity</th></tr>
            {{#each order.orderItems}}
                <tr> <td>{{this.item_name}}</td> <td>{{this.price}}</td> <td>{{this.quantity}}</td> </tr>
            {{/each}}
        </table>
    </div>

    <div class='details-card'>
        <p>Payment Summary</p>
        <p>Late Fulfillment Discount: {{discount}}</p>
        <p>Total: ${{order.paymentTotal}}</p>
    </div>

    {{#if complete}}
        <div>
            <a href="/customer/my-orders"> BACK</a>
        </div>
    {{else}}
        <div class='bottom-buttons'>
            <form method="post" action="/customer/my-orders/cancel" id="cancelform">
                <input type="hidden" name="cancelID" id="cancelID" value={{order.order_ID}} />
                {{#if hasTimeLeft}}
                <div class='bottom-button'>
                    <button type='submit'>CANCEL</button>
                    <div id = "timeCancel">15:00</div>
                </div>
                {{else}}
                 <div class='bottom-button inactive'>
                    <p>CANCEL</p>
                    <p>00:00</p>
                </div>
                {{/if}}
            </form>
            <form method="post" action="/customer/my-orders/change" id="changeform">
                <input type="hidden" name="changeID" id="changeID" value={{order.order_ID}} />
                {{#if hasTimeLeft}}
                 <div class='bottom-button'>
                    <button type='submit'>CHANGE</button>
                    <div id = "timeChange">15:00</div>
                </div>
                {{else}}
                 <div class='bottom-button inactive'></div>
                    <p>CHANGE</p>
                    <p>00:00</p>
                </div>
                {{/if}}
            </form>
            <input type="hidden" name="timeRemaining" id="timeRemaining" value={{timeRemaining}}>
        </div>
    {{/if}}
</div>
<script>
    function startTimer(duration, display) {
        var timer = duration, minutes, seconds;
        setInterval(function () {
            minutes = parseInt(timer / 60, 10);
            seconds = parseInt(timer % 60, 10);

            minutes = minutes < 10 ? "0" + minutes : minutes;
            seconds = seconds < 10 ? "0" + seconds : seconds;

            display.textContent = minutes + ":" + seconds;

            if (--timer < 0) {
                timer = duration;
            }
        }, 1000);
    }

    window.onload = function () {
        var time = document.getElementById("timeRemaining").value;
        var displayCancel = document.querySelector('#timeCancel');
        var displayChange = document.querySelector('#timeChange');
        startTimer(time, displayCancel);
        startTimer(time, displayChange);
    };

</script>

