<link rel="stylesheet" href="/css/menu.css">
<link rel="stylesheet" href="/css/orderDetail.css">
<style>
    .normal-button.add{
       background-color: gray;
   }
</style>
<div class='content-card'>
    <h2 style="text-align: center;">ORDER #{{order_ID}}</h2>
    <h3 style="text-align: center;">{{this.van_id}}</h3>
    <div class='menu-content'>
        {{#each menu_items}}
            <div class="item-card">
                <p class='item-name'>{{this.item_name}}</p>
                <p class='item-price'>$ {{this.item_price}}</p>
                <img src={{this.item_photo}} class="browsePage">
            <input type="number" min="0" oninput="this.value =this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null" id={{this.item_ID}} value="" placeholder = "0"/>
            <button class='normal-button add' style= 'padding:5px;' type='button' onclick="saveToCart({{this.item_ID}})">ADD TO CART</button>
            </div>
        {{/each}}
    </div>
       

<form class="cart-form" action="/customer/my-orders/update" method="post">
    <input type = "hidden" id="cart" name="cart" value=""/>
    <input type = "hidden" id="updateID" name="updateID" value={{order.order_ID}} />
    <div style='text-align:center'>
        <div class='floating-button'> 
            <button class='normal-button' style='font-size:24px' type="submit" onclick="saveOrder()">Change Order</button>
        </div>
    </div>
</form>
</div>

<script >
    function saveToCart(id) {
        var quantity = parseInt(id.value)
        if (localStorage.getItem("cart") === null) {
            var cart = [];
            for (var i=0;i<quantity;i++) { 
                cart.push(id.id);
            }
            localStorage.setItem("cart", JSON.stringify(cart));
        } else {
            var currentCart = JSON.parse(localStorage.getItem("cart"));
            for (var i=0;i<quantity;i++) {
                currentCart.push(id.id);
            }
            localStorage.setItem("cart", JSON.stringify(currentCart));
        }
    }

    function saveOrder() {
        document.getElementById("cart").value = JSON.parse(JSON.stringify(localStorage.getItem("cart")));
        localStorage.clear();
    }
</script>