<link rel="stylesheet" href="/css/reset.css">
<link rel="stylesheet" href="/css/orderDetail.css">
<body>
    <div class = "top">
        <div text-align='left'><a href="/customer/USER11/my-orders">< </a></div>
        {{!-- <div> </div> --}}
        <div>
            <p>ORDER #{{order._id}}</p>
        </div>
    </div>
    <div class='cards'>
                <div>
                     <p>Order time: {{order.when}}</p>
                     <p>Van Name: {{order.van_ID}}</p>
                {{!-- need van location in modal --}}
                     <p>Van Location: {{order.van_latitude}}, {{order.van_longtitude}}</p>
                </div>
    </div>
        {{!-- center this  --}}
    <div class='card'>
            <tbody>
                <tr><th>Food Name</th> <th> Quantity</th></tr>
                {{#each order.orderItems}}
                <tr> <td>{{this.item_name}}</td> <td>{{this.quantity}}</td> </tr>
                {{/each}}
            </tbody>
    </div>

      

    <div class="summary">
        <div>
                <p font-weight= 'bold'>Payment Summary:</p>
                <p>Subtotal: {{order.paymentTotal}}</p>
                <p>Late Fulfillment discount: </p>
                <p>Total:</p>
        </div>
    </div>

   
        




    <div class='bottip'>
        <div class="left">
            <p>CANCEL</p>
        </div>
        <div class="right">
            <p>CHANGE</p>
        </div>
        
    </div>
</body>