<link rel="stylesheet" href="/css/profile.css">
<div class='content-card' style='text-align:center'>
    <h2>Van Details</h2>
    <div class="card">
        <div><p style='font-weight:bold;'>Van ID:</p> <p>{{van.van_ID}}</p></div>
        <div><p style='font-weight:bold;'>Van Name:</p> <p>{{van.van_first_name}} {{van.van_last_name}}</p></div>
        <div><p style='font-weight:bold;'>Van Location:</p> <p>{{van.locDescription}}</p></div>
        <div class='button'><a class='normal-button' href="/customer/van/{{van.van_ID}}/menu">See Menu</a></div>
    </div>
    <spacer>&nbsp;</spacer>
</div>

